body{
    width: 100%;
    height: 100%;
}
.watch{
    position: relative;
    width: 600px;
    height: 200px;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 8fr;
    background: rgb(93, 93, 93);
    border: 2px solid rgb(62, 61, 61);
    border-radius: 25px;
    transition: 1s;
}
.days{
    position: relative;
    display: flex;
    justify-content: space-around;
}
.day{
    position: relative;
    padding: 10px 0px;
    font-family: 'Silkscreen', cursive;
    color: white;
}
.watch-bottom{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#btn-clock,
#btn-timer{
    width: 50px;
    height: 20px;
}
#timer,
#clock{
    position: relative;
    left: auto;
    right: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Silkscreen', cursive;
    color: white;
    transition: 1s;
}
#timer{
    font-size: 0px;
    color: transparent;
}
